*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    position: relative;
    
}
.para{
    font-family: cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box{
     background-color: blue;
   position: absolute;
}
